/* Variables */

$color-1: #fff;
$color-2: #000;
$color-3: #424242;
$color-4: #1477dd;
$color-5: #105caa;
$color-6: #162950;
$color-7: #222;
$color-8: #666;
$color-9: #fd6666;
$color-10: #ffd201;
$color-11: #e0e0e0;
$color-12: #444;
$color-13: #0869cd;
$color-14: #adadad;
$col-bb: #bbb;
$col-6565: #656565;
$col-6aa: #6aa1da;
$color-999: #999;



$bg-color-1: #fff;
$bg-color-2: #000;
$bg-color-3: #424242;
$bg-color-4: #1477dd;
$bg-color-5: #105caa;
$bg-color-6: #162950;
$bg-color-7: #222;
$bg-color-8: #666;
$bg-color-9: #fd6666;
$bg-color-10: #ffd201;
$bg-color-11: #e0e0e0;
$bg-color-12: #444;
$bg-color-13: #0869cd;
$bg-color-14: #adadad;
$bg-color-15: #f0f0f0;
$bg-col-f4: #f4f4f4;
$bg-col-e5: #e5e5e8;
$bg-col-heade: #0c549f;
$drop-border: #ededed;
$drop-dashed: #e1e1e1;


$bd-radius-1: 40px;

$font-1: "Poppins", sans-serif;
$font-2: "Roboto", sans-serif;